@charset "UTF-8";

body{
    font-family: 'work Sans';
    font-size: 18px;
}

h1, h2{
    /*short-hand font 
    font-style -> font-weight -> font-size -> font-family*/

    font: italic bolder 3em 'Times New Roman', Times, serif;
}

